#include "1984x.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    row-gpios
        = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    col-gpios
        = <&xiao_d 7 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        ;
};

<&xiao_i2c {
	status = "okay";

    sda-pin = <&xiao_d 0 GPIO_ACTIVE_HIGH>;
    scl-pin = <&xiao_d 1 GPIO_ACTIVE_HIGH>;

	#oled: ssd1306@3c {
	#	compatible = "solomon,ssd1306fb";
	#	reg = <0x3c>;
	#	label = "DISPLAY";
	#	width = <128>;
	#	height = <32>;
	#	segment-offset = <0>;
	#	page-offset = <0>;
	#	display-offset = <0>;
	#	multiplex-ratio = <31>;
	#	segment-remap;
	#	com-invdir;
	#	com-sequential;
	#	prechargep = <0x22>;
	#};

	trackball_pim447@a {
		compatible = "pimoroni,trackball_pim447";
		reg = <0xa>;
		label = "TRACKBALL_PIM447";
	};
};