/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#include <dt-bindings/zmk/mouse.h>

#include <behaviors/mouse_keys.dtsi>
#include <behaviors/mouse_move.dtsi>

#include <behaviors/behavior_pim447.dtsi>
#include <dt-bindings/behavior_pim447.h>


#define DEFAULT 0
#define SECOND 	1
#define THIRD 	2
#define FOURTH 	3
#define FIFTH 	4
#define SIXTH 	5
#define SYSTEM 	6
#define MOUSE	7

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };


/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping-term-ms = <250>;
			quick-tap-ms = <200>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&mo>, <&to>;
        };

		sk: sticky_key {
			compatible = "zmk,behavior-sticky-key";
			#binding-cells = <1>;
			bindings = <&kp>;
			release-after-ms = <1000>;
			ignore-modifiers;
		};

        m_max_speed: pim447_mouse_max_speed {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_MOUSE_INC_MAX_SPEED>, <&pim447 PIM447_MOUSE_DEC_MAX_SPEED>;
            mods = <(MOD_LSFT)>;
        };

        s_max_speed: pim447_scroll_max_speed {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_SCROLL_INC_MAX_SPEED>, <&pim447 PIM447_SCROLL_DEC_MAX_SPEED>;
            mods = <(MOD_LSFT)>;
        };

        m_max_time: pim447_mouse_max_time {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_MOUSE_INC_MAX_TIME>, <&pim447 PIM447_MOUSE_DEC_MAX_TIME>;
            mods = <(MOD_LSFT)>;
        };

        s_max_time: pim447_scroll_max_time {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_SCROLL_INC_MAX_TIME>, <&pim447 PIM447_SCROLL_DEC_MAX_TIME>;
            mods = <(MOD_LSFT)>;
        };

        m_smooth: pim447_mouse_smoothing_factor {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_MOUSE_INC_SMOOTHING_FACTOR>, <&pim447 PIM447_MOUSE_DEC_SMOOTHING_FACTOR>;
            mods = <(MOD_LSFT)>;
        };

        s_smooth: pim447_scroll_smoothing_factor {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&pim447 PIM447_SCROLL_INC_SMOOTHING_FACTOR>, <&pim447 PIM447_SCROLL_DEC_SMOOTHING_FACTOR>;
            mods = <(MOD_LSFT)>;
        };

		pim447_hue: pim447_inc_hue_increment_factor {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&pim447 PIM447_INC_HUE_INCREMENT_FACTOR>, <&pim447 PIM447_DEC_HUE_INCREMENT_FACTOR>;
			mods = <(MOD_LSFT)>;
		};

		td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo SECOND>, <&mo FIFTH>;
        };

		td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo THIRD>, <&mo SIXTH>;
        };
	};

	combos {
		compatible = "zmk,combos";

		//  ╭─────────────────────╮          ╭─────────────────────╮
		//  │   0   1   2   3   4 │          │  5   6   7   8  10  │
		//  │  11  12  13  14  15 │          │ 15  16  17  18  19  │
		//  │  20  21  22  23  24 ╰───╮  ╭───╯ 25  26  27  28  29  │
		//  ╰────────────╮ 30  31  32 │  │ 33  34  35 ╭────────────╯
		//               ╰────────────╯  ╰────────────╯

		COMBO(ESC, &kp ESC, 1 2, DEFAULT)
		COMBO(ENTER, &kp ENTER, 17 18, DEFAULT)
		COMBO(BSPC, &kp BSPC, 7 8, DEFAULT)
		COMBO(TAB, &kp TAB, 12 13, DEFAULT)
		COMBO(DEL, &kp DEL, 27 28, DEFAULT)
		COMBO(SYSTEM, &mo SYSTEM, 32 33, DEFAULT)
		COMBO(FOURTH, &mo FOURTH, 31 34, DEFAULT)
		COMBO(BOOTLOADER_LEFT, &bootloader, 0 11 20, DEFAULT)
		COMBO(BOOTLOADER_RIGHT, &bootloader, 10 19 29, DEFAULT)
	};

	
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp Q			&kp W			&kp F           &kp P           &kp G                    &kp J           	&kp L      			&kp U            &kp Y			&kp SQT
				&kp A			&kp R			&kp S      		&kp T      	  	&kp D                    &kp H            	&kp N           	&kp E     		 &kp I			&kp O
				&kp Z			&kp X			&kp C           &kp V           &kp B               	 &kp K       		&kp M          		&kp COMMA        &kp DOT		&kp SEMI
												&none 		 	&td0	     	&kp LSHFT			 	 &kp SPACE	 		&td1		      	&none 	
			>;
		};

		second_layer {
			bindings = <
				&none			&none			&none     		&none       	&kp C_VOL_UP            &none          	&kp HOME        &kp UP           &kp END		&kp DEL
				&sk LSHFT		&sk LGUI		&sk RALT        &sk LCTRL       &kp C_VOL_DN            &none           &kp LEFT        &kp DOWN	     &kp RIGHT		&kp BSPC
				&none			&none			&kp C_PREV      &kp C_NEXT      &kp C_PP               	&none       	&kp PG_DN       &kp PG_UP	     &none			&kp ENTER
												&trans		 	&trans       	&trans			        &trans	  		&trans	        &none
			>;
		};

		third_layer {
			bindings = <
				&none			&kp LBKT		&kp LBRC         &kp LPAR       &kp TILDE                   &kp CARET       &kp RPAR    	&kp RBRC     	 &kp RBKT			&kp GRAVE
				&kp MINUS		&kp STAR		&kp EQUAL        &kp UNDER      &kp DLLR                    &kp HASH        &sk RCTRL     	&sk RALT    	 &sk RGUI			&sk RSHFT
				&kp PLUS		&kp PIPE		&kp AT           &kp FSLH       &kp PRCNT               	&none       	&kp BSLH	    &kp AMPS	     &kp QMARK			&kp EXCL
												&none	   		 &trans        	&trans		          	 	&trans		    &trans       	&none
			>;
		};

		fourth_layer {
			bindings = <
				&kp N7			&kp N5			&kp N3         	&kp N1       	&kp N9                   	&kp N8      	&kp N0  	  	&kp N2    	 	 &kp N4				&kp N6
				&kp LSHFT		&kp LGUI		&kp RALT        &kp LCTRL       &kp F11                     &kp F10         &kp RCTRL     	&kp RALT    	 &kp RGUI			&kp RSHFT
				&kp F7			&kp F5			&kp F3          &kp F1        	&kp F9               		&kp F8       	&kp F12		    &kp F2	    	 &kp F4				&kp F6
												&none	   		&trans        	&trans		          	 	&trans		    &trans       	&none
			>;
		};

		fifth_layer {
			bindings = <
				&trans				&trans				&trans            &trans          &trans            	&trans		   	&trans		     &trans		    &trans		&trans
				&kp LSHFT			&kp LGUI 			&kp RALT          &kp LCTRL       &trans                &trans		    &trans		     &trans	 	  	&trans		&trans
				&trans				&trans				&trans            &trans          &trans                &trans	        &trans           &trans   		&trans		&trans
														&none	   		  &trans   		  &trans	     	    &trans	        &trans       	 &none
			>;
		};

		sixth_layer {
			bindings = <
				&trans				&trans				&trans            &trans          &trans            	&trans		   	&trans		     &trans		    &trans		&trans
				&trans				&trans 				&trans            &trans          &trans                &trans		    &kp RCTRL		 &kp RALT	 	&kp RGUI	&kp RSHFT
				&trans				&trans				&trans            &trans          &trans                &trans	        &trans           &trans   		&trans		&trans
														&none	   		  &trans   		  &trans	     	    &trans	        &trans       	 &none
			>;
		};

		system_layer {
			bindings = <
				&sys_reset			&ext_power EP_ON	&none            &none &none  &bt BT_SEL 0   	&bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3		&sys_reset
				&bootloader			&ext_power EP_OFF	&none            &none &none &bt BT_DISC 0    &bt BT_DISC 1    &bt BT_DISC 2    &bt BT_DISC 3		&bootloader
				&none				&none				&none            &none            &none &bt BT_CLR       &none            &none        	  &none				&studio_unlock
														&none	   		 &trans   		  &trans	     	   &trans	        &trans       	 &none
			>;
		};

		mouse_layer {
			bindings = <
				&m_max_speed		&s_max_speed		&pim447_hue    				  &trans       					    &trans		       	&trans		   	&trans		     &trans		    &trans		&trans
				&m_max_time			&s_max_time			&trans         				  &trans         					&trans              &trans		    &mkp LCLK	     &mkp MCLK 	  	&mkp RCLK	&trans
				&m_smooth			&s_smooth			&trans         				  &trans							&trans              &trans	        &trans           &trans   		&trans		&trans
														&trans						  &pim447 PIM447_TOGGLE_MODE        &kp LSHFT	   	    &trans	        &trans           &trans
			>;
		};

		/* empty_layer {
			bindings = <
				&none				&none				&none            &none            &none            	   &none		   	&none		     &none		    &none		&none
				&none				&none 				&none            &none            &none                &none		    &none		     &none	 	  	&none		&none
				&none				&none				&none            &none            &none                &none	        &none            &none   		&none		&none
														&none	   		 &none   		  &none	     	       &none	        &none       	 &none
			>;
		}; */
	};
};

