/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/pimoroni_pim447_behaviors.dtsi>



#define ZMK_MOUSE_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#include <dt-bindings/zmk/mouse.h>

#include <behaviors/mouse_keys.dtsi>
#include <behaviors/mouse_move.dtsi>

#define DEFAULT 0

/ {

    behaviors {
        mmv: mouse_move {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <1>;
            acceleration-exponent = <1>;
        };
    };

	pimoroni_pim447_listener {
		compatible = "zmk,input-listener";
		device = <&pimoroni_pim447>;
	    xy-swap;
        y-invert;
        scale-multiplier = <1>;
	    scale-divisor = <1>;
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp Q			&kp W			&kp F            &kp P            &kp B                    &kp J           	&kp L            &kp U            &kp Y		&kp O
				&kp A			&kp R			&kp S            &kp T            &kp G                    &kp M            &kp N            &kp E            &kp I		&kp O
				&kp A			&kp D			&kp C            &kp D            &kp V                    &kp K            &kp H            &kp COMMA        &kp I		&kp E
												&kp C		     &kp D		      &kp R			           &bootloader      &sys_reset       &kp I
			>;
		};
	};
};

