/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "dts/behaviors/pimoroni_pim447_behaviors.dtsi"


#define DEFAULT 0

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp Q			&kp W			&kp F            &kp P            &kp B                    &kp J           	&kp L            &kp U            &kp Y		&kp O
				&kp A			&kp R			&kp S            &kp T            &kp G                    &kp M            &kp N            &kp E            &kp I		&kp O
				&kp A			&kp D			&kp C            &kp D            &kp V                    &kp K            &kp H            &kp COMMA        &kp I		&kp E
												&kp C		     &kp D		      &kp R			           &bootloader      &sys_reset       &kp I
			>;
		};
	};
};

